.input-container {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 10px;
}

.input-container input,
.input-container button {
  height: 32px;
  font-size: 14px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-container input {
  flex: 1;
  outline: none;
  transition: border 0.2s, box-shadow 0.2s;
}

input.title-error,
input.body-error,
input.id-error {
  border-color: red !important;
  box-shadow: 0 0 2px red;
}

.input-container button {
  background-color: #f4f4f4;
  cursor: pointer;
  transition: background-color 0.2s, opacity 0.2s;
}

.input-container button:hover {
  background-color: #eaeaea;
}

.input-container button:active {
  opacity: 0.7;
}

.notes-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.col {
  padding: 0px 10px;
}

.notes-header,
.note-row {
  display: grid;
  grid-template-columns: 50px 200px 300px 1fr;
  padding: 10px;
  border-radius: 5px;
}

.notes-header {
  background-color: #f0f0f0;
  font-weight: bold;
}

.note-row {
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.sort-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

select {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
